<%= form_for @comment do |form| %>
  <div class="form-group mt-4" id="comment-body-<%= @post.id %>">
    <%= form.label :content %> <br>
    <%= form.text_field :content, class: "form-control" %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<%end%>
<%= link_to "Back", :back, class: "btn btn-success mt-3" %>
