<% stories.each do |story| %>
  <div class="card w-50 mb-5">
    <div class="card-header text-center">
      <%= link_to users_path(story.user), title: story.user.username do %>
        <h4><%= story.user.username %></h4>
      <% end %>
    </div>
    <br>
    <p class= "mx-2" ><%= story.caption %></p>
    <% if story.user == current_user %>
      <%= button_to story_path(story), method: :delete, class: "ml-auto mx-0 my-auto pull-right" do %>
        <i class = "far fa-trash-alt" aria-hidden = "true"></i>
      <% end %>
    <% end %>
    <% story.photos.each do |photo| %>
      <div class="text-center mb-3">
        <%= image_tag photo.image.url, class: "rounded-circle", width: "30%"%>
      </div>
    <% end %>
  </div>
<% end %>
