
<div class="mt-5">
  <% @stories.each do |story| %>
    <div class="card w-100 mb-5">
      <div class="card-header text-center">
        <h4><%= story.user.username %></h4>
      </div>
      <br>
      <p class= "mx-2 h5" ><%= story.caption %>
        <% if story.user == current_user %>
          <%= link_to story_path(story), method: :delete, class: "ml-auto mx-0 my-auto pull-right" do %>
            <i class = "far fa-trash-alt pull-right mx-2" aria-hidden = "true"></i>
          <% end %>
          
        </p>
      <% end %>
      <% story.photos.each do |photo| %>
        <div class="text-center mb-3">
          <%= image_tag photo.image.url, width: "30%"%>
        </div>
      <% end %>
    </div>
  <% end %>
  <%= link_to "Back", :back, class: "btn btn-success" %>
</div>
